 .u-section-1 {
  background-image: url("images/ggggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1537px;
}

.u-section-1 .u-text-1 {
  text-shadow: 3px 3px 13px rgba(0,0,0,0.25);
  font-size: 6rem;
  line-height: 1.2;
  text-transform: none;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 59px auto 0 282px;
}

.u-section-1 .u-group-1 {
  width: 690px;
  background-image: none;
  min-height: 757px;
  height: auto;
  margin: 39px 216px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-video-1 {
  width: 535px;
  height: 301px;
  margin: 48px auto 0 49px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  margin: 25px 48px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.875rem;
  background-image: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 25px 0 0 auto;
  padding: 12px 23px 12px 21px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.875rem;
  background-image: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -72px auto 0 7px;
  padding: 12px 18px 12px 17px;
}

.u-section-1 .u-image-1 {
  height: 493px;
  width: 916px;
  margin: 74px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    padding: 11px 115px 13px 114px;
  }

  .u-section-1 .u-btn-2 {
    padding: 11px 115px 13px 114px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1038px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    font-size: 4.5rem;
    margin-left: 216px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 388px;
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 930px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 162px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 520px;
    height: 293px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 102px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 61px;
    padding-left: 60px;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}